


/*移动端*/
@media (max-width: 979px) {

    .visible-mobile {
        display: inherit !important
    }

    .hidden-mobile {
        display: none !important
    }

    .hidden-desktop {
        display: none !important
    }

    .visible-desktop {
        display: inherit !important
    }

    /****************/

    html,body{overflow-x:hidden;}

    .top .logo{height:26px;position: absolute; top:10px;  }

    .top  .nav{height:30px;line-height: 30px;}

    .top  .nav li{font-size: 12px;}

    .top .nav li a{padding:0 0.4em;}

    .top .header{min-height: 50px;box-sizing:border-box;}

    .top .top-user-info a {margin: 0 0.2em;}

    .bottom{display: none;}

    /*首页*/

    .sidebar{width:100%;}

    .i-tit .tt{font-size: 14px;}

    .top  .nav{height:30px;line-height: 30px;}

    .top  .nav li{font-size: 12px;}

    .top .nav li a{padding:0 0.4em;}

    .service{background: none;}

    .service dd { background: #f5efe7;border:1px solid #d0c8bc; border-top:none;}

    .service dd  ul{width:100%;box-sizing:border-box;border-right:1px solid #fff;}

    .service dd  li{width:33.33%;box-sizing:border-box;border:1px solid #fff;border-right:none;}

    .service dd  li a{display: block; height: 100%}

    .service dd  li a:active{ background: #f2e0c8;}

    .service dl dt{background: #ffaa00; height: 24px; line-height: 24px;}

    .user-top .user-info{padding-bottom:10px; height: auto;}

}

/*电脑*/
@media (min-width: 979px) {

    .visible-mobile {
        display: none !important
    }

    .visible-phone {
        display: none !important
    }
    .visible-tablet {
        display: none !important
    }

    .hidden-desktop {
        display: none !important
    }

    /****************/
}

/* 手机*/
@media (max-width: 767px) {

    .hidden-phone {
        display: none !important
    }
    .visible-tablet {
        display: none !important
    }

    .visible-desktop {
        display: none !important
    }
    /****************/
}

/*平板*/

@media (min-width: 768px) and (max-width: 979px) {

    .visible-phone {
        display: none !important
    }

    .hidden-tablet {
        display: none !important
    }
    .visible-desktop {
        display: none !important
    }

    /****************/
}
